<!DOCTYPE html>
<html lang="en" th:replace="~{layout/layout :: layout(~{::section})}">

<body>
    <section class="py-3 px-2 page-section">
        <script>

            $(document).ready(function() {
                var positionId = $('[name="positionId"]');
                var candidateSelect = $('[name="candidateId"]');
                positionId.on('change',function() {
                    var positionEncId = positionId.val()
                    console.log(positionEncId);
                    $.ajax({
                        url:'/vote/candidate',
                        method : 'POST',
                        data : {id:positionEncId},
    
                        success : function(response) {
                            candidateSelect.empty();
                            candidateSelect.append('<option value="">Please Select</option>');
                            $.each(response, function(index, candidate) {
                                candidateSelect.append($('<option>', {
                                    value: candidate.encId,
                                    text: candidate.fullName 
                                }));
                            });                          
                        },
                        error : function(error) {
                        } 
                    });

               })
            });
        
            function closeAddRecord() {
                setTimeout(() => {
                    window.location.href = "/dashboard/index"                  
                }, 3000);
            }
        
            function addRecord() {           
                $('#frmAddVote').formValidation({
                    fields: {                      
                        positionId: {
                            verbose: false,
                            validators: {
                                notEmpty: {
                                    message: 'The position is required.'
                                },							
                            }
                        },
                        candidateId: {
                            verbose: false,
                            validators: {
                                notEmpty: {
                                    message: 'The candidate is required.'
                                },							
                            }
                        },                          
                    }
                }).on('success.form.fv', function(e) {
                    e.preventDefault();
                    var dataString = $("#frmAddVote").serialize();
                    console.log(dataString);
                    $.ajax({
                        url:'/vote/save',
                        method : 'POST',
                        data : dataString,
    
                        success : function(response) {
                            console.log(response);
                            showMessage('success',response);
                            closeAddRecord();
                            
                        },
                        error : function(error) {
                            console.log(error.responseText);
                            showMessage('error',error.responseText);
                            closeAddRecord();
                        } 
                    });                   
                });
                
            }
                      
        </script>
        
        <div class="row justify-content-between ">
            <div class="col-auto">
                <h3 class="m-0">Vote</h3>
            </div>
            <div class="col-auto">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/dashboard/index">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Vote</li>
                    </ol>
                </nav>
            </div>
        </div>
        
        <div class="mt-4">           
            <form id="frmAddVote" method="post" action="" class="row form-horizontal">
                <div class="col-md-12">                
                    <div class="row justify-content-center">                     
                        <div class="col-md-4">                          	
                            <div class="form-group mb-2">
                                <label class="mb-1 t-main-label">Position</label>
                                <select name="positionId"  class="form-control form-control-sm">
                                    <option value="">Please Select</option>
                                    <th:block th:each="position : ${positions}">
                                        <option th:value="${position.encId}" th:text="${position.positionName}"></option>
                                    </th:block>                                    
                                </select>
                            </div>		
                            <div class="form-group mb-2">
                                <label class="mb-1 t-main-label">Candidate</label>
                                <select name="candidateId"  class="form-control form-control-sm">
                                                                 
                                </select>
                            </div>		
                            <div class="form-group foot mb-0 mt-4">
                                <button onclick="addRecord()" class="btn t-save-btn">VOTE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>           
        </div>        
    </section>
</body>
</html>
